.btn {
  border-radius: 0;
}

.navbar-default {
  background: #FAFAFA;
  border-color: #FAFAFA;
}

header {
  margin-bottom: 30px;
}

.footer {
  height: 50px;
  background: #FAFAFA;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.container {
  min-height: calc(100vh - 130px);
}
